<h1>Fees, Forms, and Insurance</h1>

<h2>Fees</h2>
<ul>
  <li>Initial Evaluation (50 minutes): $135</li>
  <li>Individual Session (50 minutes): $135</li>
  <li>Couples or Family Session (50 minutes): $135</li>
  <li>Longer sessions are available at additional charge</li>
  <li>Mindfulness Coaching: $100</li>
</ul>

<h2>Forms</h2>
<p>There are several forms that should be brought to your first session.</p>

<p>
  If you will not be using Insurance Coverage/Benefits, please complete and
  bring the following 4 forms to your first appointment:
  <ul>
    <li>Client Information Form <%= link_to "Right-click to download pdf", asset_path("client_information_form.pdf") %></li>
    <li>Client Contact Information <%= link_to "Right-click to download pdf", asset_path("client_contact_information.pdf") %></li>
    <li>Payment Policy <%= link_to "Right-click to download pdf", asset_path("payment_policy.pdf") %></li>
    <li>Client Rights & Responsibilities <%= link_to "Right-click to download pdf", asset_path("client_rights_and_responsibilities.pdf") %></li>
   </ul>
</p>

<p>
  If you will be using Insurance Coverage/Benefits, please complete and bring the
  following 5 forms, and your insurance card, to your first appointment:
  <ul>
    <li>Client Information Form <%= link_to "Right-click to download pdf", asset_path("client_information_form.pdf") %></li>
    <li>Client Contact Information <%= link_to "Right-click to download pdf", asset_path("client_contact_information.pdf") %></li>
    <li>Client Rights & Responsibilities <%= link_to "Right-click to download pdf", asset_path("client_rights_and_responsibilities.pdf") %></li>
    <li>Health Insurance Claim Form <%= link_to "Right-click to download pdf", asset_path("HCFA_1500_claim_form.pdf") %></li>
    <li>Insurance Coverage Checklist <%= link_to "Right-click to download pdf", asset_path("insurance_coverage_checklist.pdf") %></li>
  </ul>
</p>

<h2>Insurance</h2>
<p>Contract (or "In-Network") Provider benefits are available for:
Anthem Blue Cross, Aspire Health (CHOMP), Beech Street,
Guardian Insurance Co., and Pacific Health Alliance.</p>
<p>Before making your appointment, please contact your insurance company
(using the Customer Service number on your card) to check
the Outpatient Mental Health benefits for your policy.
The Insurance Coverage Checklist (see "Printable Forms")
can be helpful in making sure you are
fully informed about your out-of-pocket expenses.</p>
