

<p id="notice"><%= notice %></p>

<h1>Calendar of Events</h1>

<%= month_calendar events: @courses do |date, courses| %>
  <span class="day-num"><%= date.day %></span>

  <% courses.each do |course| %>
    <div>
      <% if course.course_type == "mindfulness course" %>

        <%= link_to truncate(course.name, length: 26), mindfulness_courses_path + '#' + course.anchor %> <br><small><%= course.time %></small>
      <% else %>
        <%= link_to truncate(course.name, length: 26), mindful_education_project_path + '#' + course.anchor %> <br><small><%= course.time %></small>
      <% end %>
    </div>
  <% end %>
<% end %>
