<h1>Mindful Education Project</h1>
<p>"Opening Minds & Hearts for Learning & Connection"</p>

<p class="tagline"><i>
  "The faculty of voluntarily bringing back a wandering attention,
  over and over again, is the very root
  of judgment, character, and will ...
  An education which should improve this faculty
  would be the education par excellance."</i><br>
  -- William James
</p>

<h2>Intention, Structure & Research</h2>

<p>
  Mindful Education Project is an integral program
  designed to catalyze, support and sustain
  mindful teaching and mindful learning.
</p>
<p>
  Through coursework, classes and community,
  educators and students engage in practices
  that develop the capacity for focused attention,
  relaxed awareness, and kind relationship
  with themselves, each other, and the world.
</p>
<p>
  The Mindful Education Project is one of the most comprehensive
  mindfulness training programs being offered in the country today.
  Its modular approach with multiple modes of "entry" is unique,
  and its integration of learning opportunities for
  administrators, faculty, students and parents
  focuses on bringing mindful awareness to
  both individuals and community.
</p>

<p class="tagline"><i>
  "... our networks of attention are our foremost means
to shaping our lives; these networks give us extraordinary
ways to master ourselves and our environment,
offering the key to growth, connection, happiness."</i><br>
-- Maggie Jackson
</p>

<p>
  Recent studies of children and adolescents have shown
mindfulness practice promotes concentration, impulse control,
relaxation in test-taking, emotional regulation,
self-awareness, and cooperation.
Decreased anxiety, aggressive behavior, ADHD symptoms,
and oppostional behavior have also been documented.
</p>

<p class="tagline"><i>
  "Can you imagine a world in which this health-promoting,
empathy-enhancing, executive-attention developing,
self-compassion nurturing, affordable and
adaptable mental practice was made
available in everyone's life?"</i><br>
-- Daniel Siegel, PhD
</p>

<h2>Offerings</h2>

<% @courses.each do |course| %>

    <h2 id="<%= course.anchor %>"><%= course.name %></h2>
    <% unless course.date.blank? %>
      <%= course.date %><br>
    <% end %>
    
    <%= course.start_time.strftime("%I:%M %P") %>
    <%= simple_format(course.course_content) %>

    <% unless course.registration_link.blank? %>
      <p class="registration-link"><a href="<%= course.registration_link %>">Register</a></p>
    <% end %>

<% end %>
