<aside>
  <div id="nav-unfixed">
    <%= render 'layouts/sidebar_nav' %>
  </div>

  <div id="nav-fixed">
    <%= render 'layouts/sidebar_nav' %>
  </div>
</aside>

<div id="nav-mobile">
  <center>

    <div id="menu-button">
      <hr>
      <span id="menu-button-button">MENU</span>

      <div id="mobile-menu">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Services and Specialties", services_and_specialties_path %></li>
          <li><%= link_to "Fees, Forms, and Insurance", fees_forms_and_insurance_path%></li>
          <li><%= link_to "Calendar of Events", calendarofevents_path %></li>
          <li><%= link_to "Mindfulness Courses", mindfulnesscourses_path %></li>
          <li><%= link_to "Mindful Education Project", mindful_education_project_path %></li>
          <li><%= link_to "Mindful Relating", mindful_relating_path %></li>
          <li><%= link_to "Questions for Reflection", questions_for_reflection_path %></li>
          <li><%= link_to "Location and Contact", location_and_contact_path %></li>
        </ul>
      </div>
      <hr>
    </div>
  </center>
</div>
