<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Services and Specialties", services_and_specialties_path %></li>
  <li><%= link_to "Fees, Forms, and Insurance", fees_forms_and_insurance_path%></li>
  <li><%= link_to "Calendar of Events", mindfulnesscourses_path %></li>
  <li><%= link_to "Mindfulness Courses", mindfulnesscourses_path %></li>
  <!--<li>Calendar of Events</li>
  <li>Mindfulness Courses</li>-->
  <li><%= link_to "Mindful Education Project", mindful_education_project_path %></li>
  <li><%= link_to "Mindful Relating", mindful_relating_path %></li>
  <li><%= link_to "Questions for Reflection", questions_for_reflection_path %></li>
  <li><%= link_to "Location and Contact", location_and_contact_path %></li>
</ul>
