<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Services and Specialties", services_and_specialties_path %></li>
  <li><%= link_to "Fees, Forms, and Insurance", fees_forms_and_insurance_path%></li>
  <li><%= link_to "Calendar of Events", calendar_of_events_path %></li>
  <li><%= link_to "Mindfulness Courses", mindfulness_courses_path %></li>
  <li><%= link_to "Mindful Education Project", mindful_education_project_path %></li>
  <li><%= link_to "Questions for Reflection", questions_for_reflection_path %></li>
  <li><%= link_to "Location and Contact", location_and_contact_path %></li>
  <li><%= link_to "Bio", bio_path %></li>
  <li><%= link_to "FAQs", faqs_path %></li>
</ul>
