<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Marianne B. Rowe | Psychotherapy, Mindfulness Meditation, Monterey County CA</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Noto+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
  </head>

  <body>
    <!-- <p class="alert"><%= alert %></p>
    <p class="notice"><%= notice %></p> -->
    <% if user_signed_in? %>
      <div id="admin-panel">
        <div class="container">
          <br>
          <h1>Hi, Marianne</h1>
          <%= link_to 'New Course', mindfulness_courses_new_path %> | Create a New Course
          <br>
          <%= link_to 'All Courses', admin_path %> | View, Edit, or Delete a Course

          <br>
          <br>
          <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
          <br>
          Contact <a href="#">Tristan</a> for assistance
        </div>
      </div>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>

    <main>
      <div class="container">
        <div class="row">
          <div class="three columns">
            <%= render 'layouts/sidebar' %>
          </div>
          <div class="nine columns">
            <article>

              <%= yield %>
            </article>
          </div>
        </div>
      </div>
      <hr>
      <footer>
        <div class="container">
          <div class="row">
            <div class="four columns ft" style="text-align:left">
              Marianne B. Rowe, MS
              <br>
              CA Lic. # MFC 22067

            </div>
            <div class="four columns ft">
              <a href="tel:8313731017">(831) 373-1017</a>
              <br>
              529 Central Ave., Ste. 208
              <br>
              Pacific Grove CA 93950

            </div>
            <div class="four columns last">
              Marianne is also a co-founder of <br><a href="http://montereybaymeditation.com">Monterey Bay Meditation Studio</a><br>and runs <a href="http://mindfuleducationproject.net">Mindful Education Project</a>

            </div>
          </div>
          <div class="row">
            <p class="notice">The information on this website is intended for educational purposes only.
            It is not a substitute for in-person professional care.</p>
          </div>
        </div>
      <footer>
    </main>

  </body>
</html>
