<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Marianne B. Rowe | Psychotherapy, Mindfulness Meditation, Monterey County CA</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Noto+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
      <meta name="description"
      content="Marriage Counseling,Child Therapy,Family Therapy,Mindfulness Meditation
      Instruction,in Monterey California">
    <meta name="keywords" content="Psychotherapy,Relationships,Eckhart Tolle,Couples Therapy,Salinas CA,
      Hypnotherapy,Sand Tray Therapy,Carmel CA,Play Therapy,EMDR,Pacific Grove CA,Resolving Anger,TFT,
      Monterey CA,Stress Reduction,Depression,Seaside CA,Intimacy,Anxiety,Marina CA,Child Counseling,
      Marriage Counseling,Pebble Beach CA,Grief Counseling,Resolve Conflicts">
  </head>

  <body>
    <!-- <p class="alert"><%= alert %></p>
    <p class="notice"><%= notice %></p> -->
    <% if user_signed_in? %>
      <div id="admin-panel">
        <div class="container">
          <br>
          <h1>Hi, Marianne</h1>
          <%= link_to 'New Course', mindfulness_courses_new_path %> | Create a New Course
          <br>
          <%= link_to 'All Courses', admin_path %> | View, Edit, or Delete a Course

          <br>
          <br>
          <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
        </div>
      </div>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>

    <main>
      <div class="container">
        <div class="row">
          <div class="three columns">
            <%= render 'layouts/sidebar' %>
          </div>
          <div class="nine columns">
            <article>

              <%= yield %>
            </article>
          </div>
        </div>
      </div>
      <hr>
      <footer>
        <div class="container">
          <div class="row">
            <div class="four columns ft" style="text-align:left">
              Marianne B. Rowe, MS
              <br>
              CA Lic. # MFC 22067<br>
              <a href="tel:8313731017">(831) 373-1017</a>
              <br>


            </div>
            <div class="three columns ft" style="text-align: left">
              529 Central Ave., Ste. 208
              <br>
              Pacific Grove CA 93950
            </div>

            <div class="five columns last">
              Marianne is the founder of <a href="http://mindfuleducationproject.net" target="_none">Mindful Education Project</a><br>
              and co-founder of <a href="http://montereybaymeditation.com" target="_none">Monterey Bay Meditation Studio</a>

            </div>
          </div>
          <div class="row">
            <p class="notice">The information on this website is intended for educational purposes only.
            It is not a substitute for in-person professional care.</p>
          </div>
        </div>
      <footer>
    </main>

  </body>
</html>
